!!! 5
%html
  %head
  %body
    %p The project is working.
    %br
    %p Usage tutorial
    %p get(category equals 1/2/3)
    %p namespace:/api/v2
    %p /rank/:category.json
    %p /info/:category.json
    %p /movie/:name.json (name could be both chinese and english movie name)
