!!! 5
%html
  %head
  %body
    %p The project is working.
    %br
    %p using tutorial
    %p get(category equals 1/2/3)
    %p namespace:/api/v1
    %p /rank/:category.json
    %p /info/:category.json
